<div class="content">
  <div class="search-bar-dock">
    <input
      class="search-bar"
      type="text"
      name=""
      id=""
      placeholder="Search Pokemons"
      [(ngModel)]="search"
      (input)="onInput($event)"
    />
  </div>
  <div class="cards" *ngIf="results.length; else noResults">
    <app-card-pokemon *ngFor="let i of results" [id]="i"></app-card-pokemon>
  </div>
  <ng-template #noResults>
    <p class="no-results" *ngIf="search.length == 0; else nonExistant">
      Type something to search...
    </p>
    <ng-template #nonExistant>
      <p class="no-results">No results for "{{ search }}"</p>
    </ng-template>
  </ng-template>
</div>
