.content {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar-dock {
  background-color: var(--color-main);
  padding: 10px;
  border-radius: var(--border-radius);
}

.search-bar {
  border: none;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  font-size: 20pt;
  color: whitesmoke;
  padding: 5px;
  min-width: 25rem;
  border-radius: var(--border-radius);
}

.search-bar:focus {
  outline: none;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-top: var(--gap);
  justify-content: center;
}

.no-results {
  font-size: 20pt;
  text-align: center;
  margin-top: 30px;
  color: gray;
}
